<form action="/answer">
  <div class="form-group">
    <label for="input">How many cents are you getting back?</label>
    <input id="input" name="input" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Go</button>
</form>
